h1 {
    text-align: center;
}
#container {
    display: flex;
    justify-content: center;
}
.grid {
    max-width:fit-content;
}

.row {
    display: flex;
}
.boxes {
    border: 1px solid blue;
    height: 20px;
    width: 20px;
}